*{
    margin: 0;
    text-transform: capitalize;
}

body{
    background-color: #111f2f ;
    color: white;    /*////// these 2 lines fixed the overflow of the navbar items//////*/
    
    
   
}


/* nav{
    background-color: rgb(0, 0, 27);
   
} */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  /*lw 3ayez tsabbet el navbar for w yeb2a 3la toul bayen */
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 27);
    width: -webkit-fill-available;
    z-index: 1;
}

.imgnav{
    width: 120px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 100%;
}

.anav{
    margin-top: 70px;
    margin-right: 40px;
    word-spacing: 20px;
}

.aa{
    text-decoration: none;
    color: wheat;
    padding: 15px 5px;
    margin-top: 10px;
    font-size: 30px;

}

.aa:hover{
    color: red;
    
}

.selected{ /*/////////////////////*/
    color: wheat;
    opacity: 0.5;
  }

.selected:hover{
    color: wheat;
    opacity: 1;
    
}

.container{
    margin-top: 180px;
    width: 90%;
    background-color: #02101f;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

.clear{
    height: 30px;
    visibility: hidden;
}


.table1{
    width: 80%;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background-color: #042141;
    border-radius: 10px ;
    overflow: hidden;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table1 thead tr{
    background-color: #02101f;
    color: wheat;
    
    }
    
.table1 th{
    padding: 10px 0;
    font-size: 20px;
    font-family: normal;
}

.center{
    padding-right: 12px;
}

.table1 td{
    padding-left: 12px;
    font-size: 16px;
    
}

.table1 tbody tr td:hover{
    padding: 1px;
}

.table1 tbody tr{
    border-bottom: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    
}

.table1 tbody tr:hover{
    opacity: 0.8;

}


.table1 tbody tr:nth-of-type(even) {
    background-color: #061c35;
}

.table1 tbody tr:last-of-type{
    border-bottom: 1px solid rgba(128, 128, 128, 0);
}

.tdimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
}


.imgtable{
    width: 45px;
}

.teamtable{
    width: 50px;
    
}


footer{
    background-color: white;
    text-align: center;
    margin-top: 50px;
    color : black ;
    
}




i:hover{
    opacity: 0.6;
}






@media (max-width: 950px) {

    body{
        background-color: #111f2f ;
        color: white;
        margin: 0;
        text-transform: capitalize;
        height: 100vh;
    }
    
    
    nav{
        background-color: rgb(0, 0, 27);
        height: 170px;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-grow: 1;
    }
    
    .imgnav{
        width: 110px;
        margin-left: 0;
        margin-top: 0;
       
        
    
    }
    
    .anav{
        margin-top: 0;
        margin-right: 0px;
        word-spacing: 10px;
    }
       
       
    
    
    
    .aa{
        text-decoration: none;
        color: wheat;
        padding: 15px 5px;
        margin-top: 10px;
        font-size: 20px;
        
        
    }

.container{
    margin-top: 50px;
}

.clear{
    height: 20px;
}

.table1 th{
    padding: 10px 0;
    font-size: 18px;
}

.table1 td{
    padding: 12px 15px;
    font-size: 14px;
}

.tdimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    
}

.center{
    padding-right: 0;
}


 }

@media (max-width: 400px) 
{
    .aa{
        text-decoration: none;
        color: wheat;
        padding: 12px 3px;
        margin-top: 8px;
        font-size: 12px;
        
    }

    
    
}



@media (max-width: 357px) 
{
    .aa{
        text-decoration: none;
        color: wheat;
        padding: 15px 5px;
        margin-top: 7px;
        font-size: 11px;
        
        
    
    }

}