*{
    margin: 0;
    text-transform: capitalize;
}

body{
    background-color: #111f2f ;
    color: white;
    
   
}


nav{
    background-color: rgb(0, 0, 27);
   
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    /*lw 3ayez tsabbet el navbar for w yeb2a 3la toul bayen */
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 27);
    width: -webkit-fill-available;
    z-index: 1;
}

.imgnav{
    width: 120px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 100%;
}

.anav{
    margin-top: 70px;
    margin-right: 40px;
    word-spacing: 20px;
}

.aa{
    text-decoration: none;
    color: wheat;
    padding: 15px 5px;
    margin-top: 10px;
    font-size: 30px;

}

.aa:hover{
    color: red;
    
}

.selected{ /*/////////////////////*/
    color: wheat;
    opacity: 0.5;
  }

.selected:hover{
    color: wheat;
    opacity: 1;
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #517fa5 0%,
    #0c4169 29%,
    #0a284e 67%,
    #090f3d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
      font-size: 90px;
      text-align: center;
      margin-top: 200px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



@media (max-width: 950px) {

    body{
        background-color: #111f2f ;
        color: white;
        margin: 0;
        text-transform: capitalize;
        height: 100vh;
    }
    
    
    nav{
        background-color: rgb(0, 0, 27);
        height: 170px;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-grow: 1;
    }
    
    .imgnav{
        width: 110px;
        margin-left: 0;
        margin-top: 0;
       
        
    
    }
    
    .anav{
        margin-top: 0;
        margin-right: 0px;
        word-spacing: 10px;
    }
       
       
    
    
    
    .aa{
        text-decoration: none;
        color: wheat;
        padding: 15px 5px;
        margin-top: 10px;
        font-size: 20px;
        
        
    
    }


    .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #517fa5 0%,
    #0c4169 29%,
    #0a284e 67%,
    #090f3d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
      font-size: 50px;
      text-align: center;
      margin-top: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

}